:host {
  display: block;
}

/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  color: blue;
}

div#canvasContainer {
  position: relative;
  float: left;
}

canvas#canvas0 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

canvas#canvas1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
